# Compiled Object files
*.slo
*.lo
*.o
*.obj
obj/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# SFrame dictionaries
*.pcm
*_Dict.cxx

# files that are created by script, but not the manually created ones
src/*.cxx
src/Basic.cxx
src/ContainerBase.cxx
src/NtupleObjectNames.cxx
src/EventInfoNtupleObject.cxx
src/Particle.cxx
include/*.h
include/Basic.h
include/ContainerBase.h
include/NtupleObjectNames.h
include/EventInfoNtupleObject.h
include/Particle.h
include/NtupleVariables_LinkDef.h
